{% block navbar %}
    <div style="overflow: hidden; background-color: #dca2ef; position: fixed; z-index: 1; top: 0; width: 100%;" class="container-fluid">
    <nav style="overflow: hidden; background-color: #dca2ef;" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"> <img src="https://i.pinimg.com/originals/9d/16/87/9d1687fe53247d0da876e4bff2e3ce64.png" height="90px"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a style="color: gold;" class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"></a>
        </li>
        
        
        </ul>
        
    </div>
    </nav>
</div>

   
{% endblock %}  